.wrapperadvice {
  background-color: #ffffff;
  margin: 30px 12% 30px 12%;
  border-radius: 30px;
  height: fit-content;
  padding: 3vh;
  box-shadow: 3px 3px #000000;
  border-style: hidden;
}

.wrapperadvice h1 {
  color: rgb(80, 0, 0);
  padding-top: 0px;
  margin-top: 10px;
  font-size: 1.6rem;
  padding-bottom: 3vh;
}

h4 {
  text-align: left;
  font-size: 1.25rem;
  margin-left: 10px;
  margin-top: 20px;
}

h5 {
  font-size: 1.08rem;
  margin-top: 8px;
  margin-bottom: 15px;
  margin-right: 50px;
  margin-left: 10px;
  line-height: 1.7rem;
}

.wrapperadvice h5 {
  text-align: left;
  transform: translateX(2vw);
}
a {
  font-size: 1.4rem;
  color: rgb(80, 0, 0);
  text-decoration: none;
  font-weight: 700;
}

/* Fade-in animation for the div */
@keyframes fadeIn {
  from {
    opacity: 0; /* Start fully transparent */
  }
  to {
    opacity: 1; /* Fully visible */
  }
}

/* Slide-in animation for the text */
@keyframes slideInFromLeft {
  from {
    opacity: 0; /* Start fully transparent */
    transform: translateX(-200px); /* Start off-screen to the left */
  }
  to {
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* End in the original position */
  }
}

@keyframes slideInFromLeftH5 {
  from {
    opacity: 0; /* Start fully transparent */
    transform: translateX(-200px); /* Start off-screen to the left */
  }
  to {
    opacity: 1; /* Fully visible */
    transform: translateX(0); /* End in the original position */
  }
}

/* Fade-in effect for the wrapper div */
.wrapperadvice {
  animation: fadeIn 1s ease-in; /* 2 seconds duration */
  opacity: 1; /* Ensure visibility after animation */
}

/* Slide-in effect for h1, h4, h5 */
h1,
h4,
p {
  animation: slideInFromLeft 1s ease-out; /* 2 seconds duration */
  opacity: 1; /* Ensure visibility after animation */
}

h5 {
  animation: slideInFromLeftH5 1s ease-out;
  opacity: 1;
}
